body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    background-color: #ebeff3;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background: #0d1b2b;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #4472b1 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #4472b1;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

/* Estilos para el contenedor del botón "Choose file" y el botón "Subir imagen" */
.custom-file-upload, .custom-file-submit {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    background: #0d1b2b;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.custom-file-upload:hover, .custom-file-submit:hover {
    background-color: #4472b1;
}

/* Estilos para el input de tipo "file" */
input[type="file"], input[type="submit"] {
    display: none;
}

.custom-file-upload input[type="file"] {
    display: flex;
}

.custom-file-upload.selected {
    background-color: #4472b1;
}


.file-info {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    color: #000;
    margin-left: 15px;
    vertical-align: middle;
}

h1, h2 {
    color: #35424a;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    height: auto;
}

.region {
    margin-left: 1px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: #0d1b2b;
    color: #ffffff;
    text-align: center;
}

.footer.position-relative {
    position: relative;
}

.footer a {
    color: #ffffff;
}
